.bg-color {
  background: black;
}
.mar {
  margin-left: 5px;
}
.bg {
  background: black;
}
img {
  padding: 15px;
  width: 200px;
}
.yellow-box {
  width: 600px;
  height: 400px;
  background: rgb(148, 148, 4);
  position: relative;
}
.red-box {
  width: 200px;
  height: 150px;
  background: red;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 50%;
}
